@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #fff;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(rgu_image.jpg);
    background-size: cover;
    background-position: center ;
    position: relative;
}
.container p{
    font-size: 15px;
    font-family: sans-serif;
}
.navbar{
    width: 88%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar h4{
    font-size: 15px;
    font-family: sans-serif;
    text-decoration: none;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}
.content{
    width: 100%;
    position: absolute;
    top:30%;
}
.left-col{
    margin-left: 30%;
}
.left-col p{
    font-size: 50px;
    color: #fff;
    line-height: 50px;
    float: left;
    align-items: center;
}
.right-col{
  margin-right: 6%;
  float: right;
}

input[type=text] {
    color: #000;
}
input[type=password] {
    color: #000;
}
input[type=button] {
    color: #000;
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.testimonials{
  padding: 40px 0;
  background: #f1f1f1;
  color: #434343;
  text-align: center;
}
.inner{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.border{
  width: 160px;
  height: 5px;
  background: #6ab04c;
  margin: 26px auto;
}

.row2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col{
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.testimonial{
  background: #3d3d3d;
  padding: 30px;
}
.testimonial img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name{
  font-size: 15px;
  text-transform: uppercase;
  margin: 20px 0;
}
.stars{
  color: #6ab04c;
  margin-bottom: 20px;
}


@media screen and (max-width:960px) {
.col{
  flex: 100%;
  max-width: 80%;
}
}

@media screen and (max-width:600px) {
.col{
  flex: 100%;
  max-width: 100%;
}
}

.footer{
    background-color: #4f7942;
    padding: 60px 0;
}
.fcontainer{
    max-width: 1000px;
    margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 20%;
    padding: 0 18px;
}
.footer-col h4{
    font-size: 15px;
}

